name: Lint
on: pull_request
permissions:
  contents: read
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: leafo/gh-actions-lua@v9
        with:
          luaVersion: "5.1"
      - uses: leafo/gh-actions-luarocks@v4
      - name: Install luacheck
        run: luarocks install luacheck
      - uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
      - name: Luacheck
        run: luacheck --
      - uses: JohnnyMorganz/stylua-action@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: latest
          args: --check .
      - name: Light Colorscheme
        run: |
          nvim --headless -c 'source scripts/generate_colors.lua' -c 'qall'
